<ion-header>
  <ion-toolbar>
    <ion-title>Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class ="ion-padding ion-text-center">
  <div class="logo">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png
    ">
  </div>

  <div class="formulario ">
  <div> 
    <ion-label>Usuario</ion-label>    
    <ion-item lines="none">
      <ion-input #user ></ion-input>
    </ion-item>
  </div>
<div>
  <ion-label>Contraseña</ion-label>
  <ion-item lines="none">
    <ion-input type="password" #pass></ion-input>  
  </ion-item>
</div>
    <div class="botones ion-padding">
      <ion-button size="large" color="success" class="boton_login" (click)="iniciar(user, pass)"  >
         Login
      </ion-button>
    </div>
 
  </div>
<br>

  <ion-button fill="clear">Registrate!</ion-button>
  <ion-button fill="clear">Haz olvidado tus credenciales?</ion-button>

</ion-content>