.logo{
  margin-top: 10px;
  img{
  height: 100px;
  }
} 
.formulario{
 ion-item{
     border-radius: 5px;
     border-color: rgb(200, 200, 200);
     border-width: 2px;
     border-style: solid;
     margin-bottom: 10px;
 } 
}

